<div class="card text-center">
    <div class="card-header">
        @_forecastDate
    </div>
    <div class="card-body">
        <img src="@_iconUrl"  style="width:75px;height:75px;"/>
        <h6 class="card-title">@Description</h6>
        <b>@((int)HighTemp) &deg;F</b> /
        @((int)LowTemp) &deg;F
    </div>
</div>

@code {
    [Parameter] public DateTimeOffset Date { get; set; }
    [Parameter] public double HighTemp { get; set; }
    [Parameter] public double LowTemp { get; set; }
    [Parameter] public string? Description { get; set; }
    [Parameter] public string? Icon { get; set; }

    private string? _forecastDate;
    private string? _iconUrl;

    protected override void OnInitialized()
    {
        _forecastDate = Date.LocalDateTime.ToString("ddd MMM d");

        _iconUrl = $"https://openweathermap.org/img/wn/{Icon}@2x.png";
    }
}
